@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<section>
    <div class="row">
        <div class="col-sm-12 mnu">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">AVA SHOP</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">صفحه اصلی</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">محصولات</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">تلفن همراه</a>
                        <a class="dropdown-item" href="#">لپتاپ</a>
                        <a class="dropdown-item" href="#">دوربین</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">تماس با ما</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">درباره ما</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" data-toggle="modal" data-target="#myModal">ورود | ثبت نام</a>
                    <div class="modal" id="myModal">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">* خوش آمدید *</h4>
                                </div>
                                <!-- Modal body -->
                                <div class="modal-body">
                                    <input type="text" name="Name" placeholder="نام کاربری" />
                                    <input type="password" name="Password" placeholder="رمز عبور" />
                                    <input type="submit" value="ورود به سایت" class="btn btn-dark" />
                                    <a href="~/SignUp/Index" class="btn btn-success">ثبت نام</a>
                                </div>
                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">بستن</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>